git|bitbucket|repo_inteligencia_2014/repoia2014|Grupo 1: Gonzalo Perez, Francisco Gariboldi, Federico Zurbriggen
git|bitbucket|iateamfvv/practicosia_repo|Grupo 2: Ferrari Augusto, Valsagna Nicolás, Velázquez Rodrigo
hg|bitbucket|lucasb_256/tp-ai|Grupo 3: Bertolini Lucas, Mayer Osvaldo, Natalí Vargas
hg|bitbucket|pscandalo/ia|Grupo 4: Rodriguez Marianela, Schaberger Mariano, Scandalo Pablo
hg|bitbucket|diegogisenati/ia-catedra|Grupo 5: Diego Zabala, Gisela Fraire, Natalia Schmidt
git|bitbucket|fcalvo/grupoiacfm|Grupo 6: Misael Bruera, Martín Sandroni, Calvo Federico
hg|bitbucket|jscarafia/aya-far-sca-ia|Grupo 7: Offidani Adelmar, Faraudello Federico, Scarafía Juan Ignacio
