grupo|cvs|servicio|url|integrantes
grupo_01|git|bitbucket.org|facurulo/inteligencia_artificial|Grupo 1: Facundo Carignano, Emiliano Buffet y José Manzo
grupo_02|git|gitlab.com|ldominino/inteligenciaartificial.git|Grupo 2: Luciano Dominino, Jose Schaab 
grupo_03|hg|bitbucket.org|ricardocanavese1994/tpinteligenciaartificialricardo|Grupo 3: Ricardo Canavese
grupo_04|git|github.com|facu218/IA|Grupo 4: Bertone Matias, Didode Lucas y Trinchieri Facundo
grupo_05|hg|bitbucket.org|SofiaDiNonno/inteligencia-artificial|Grupo 5: Sofia DiNonno
grupo_06|git|github.com|TinchoCasazza/IAentrega1|Grupo 6: Maltagliatti - Casazza
grupo_07|git|github.com|ES94/ia-trabajo-practico|Grupo 7: Mauricio Rosso - Gaston Sorati - Antonela Orellano - Emanuel Stradella 
grupo_08|git|github.com|agubruno/EntregaIA|Grupo 8: Bima, Storani, Bruno
