git|bitbucket|agustinpieruccioni/ia-agustin-pieruccioni|Ex Grupo Uno: Agustin Pieruccioni (entregas 1 y 1 local)
git|github|toldopy/InteligenciaArtificial|Grupo 2: Agustin Toledo, Matias Paludi, Agustin Pieruccioni (Pieruccioni a partir de la entrega 2, Ivan Galindez se fue en la entrega 2)
git|bitbucket|manuelab/ia-bogino-hein-socin|Grupo 3: Santiago Socin, Julieta Hein, Manuela Bogino
git|bitbucket|drzabala/dzabala|Grupo 4: Diego Zabala, Gonzalo Onisimchuk (gonzalo solo a partir de entrega 1 local)
hg|bitbucket|fgariboldi/repoia_fg|Grupo 5: Francisco Gariboldi
git|bitbucket|schiab8/entregas_ia|Grupo 6: Santiago Chiabotto, Diego Serruya, Franco Faraudello
git|bitbucket|draff2489/entrega1local|Grupo 6b: Santiago Chiabotto, Diego Serruya, Franco Faraudello  (solo entrega 1 local)
git|bitbucket|gonzaloonisimchuk/ia|Ex Grupo 7: Gonzalo Onisimchuk (a partir de entrega 1 local se unio a g. 4)
git|github|nicorodriguezx/IA|Grupo 8: Nicolas Rodriguez
