viejo-grupo-01|hg|code|bitbucket|AlejandroMitri/mitrigomezia|Gomez Martin, Mitri Alejandro
grupo-02|git|code|bitbucket|onisimchukzabala/onisimchukzabala|Gonzalo Onisimchuk, Diego Zabala
grupo-03|git|code|bitbucket|emacolombo/ia-imhoff-colombo|Colombo, Imhoff, Imhoff
grupo-04|git|code|bitbucket|jscarafia/scaraf-apastoreia|Pastore federico, Scarafia juan ignacio
grupo-05|git|code|bitbucket|Aneurysm/ia-gauchat-pellegrinet|Gauchat, Pellegrinet
grupo-06|git|code|github|giocastagno/Delpuppo_Kopech_Castagno|Kopech Camila, Castagno Giorgina, Delpuppo Miguel
grupo-07|git|code|github|MaxiTalenti/IA|David Parmit, Marianela Rodriguez, Maximiliano Talenti
viejo-grupo-08|git|code|github|EzeAlbornoz5/Inteligencia-Artificial-TP|Albornoz Ezequiel, Zanoni Ariel
grupo-08|git|code|github|EzeAlbornoz5/Inteligencia-Artificial-TP|Albornoz Ezequiel, Zanoni Ariel, Gomez Martin
grupo-09|git|code|github|nicorodriguezx/IA|Rodriguez Nicolas
viejo-grupo-10|git|code|github|feralarcon02/InteligenciaArtificial|Alarcon Fernando, Ferrero Juan Pablo, Tesio Gianluca
grupo-10|git|code|bitbucket|GianlucaTesio/inteligenciaartificial|Alarcon Fernando, Ferrero Juan Pablo, Tesio Gianluca
viejo-grupo-11|git|code|github|aguaguilar/InteligenciaArtificialTP|Aguilar Agustin, Bianco Mauro, Sosa Emiliano
grupo-11|git|code|bitbucket|aguaguilar/inteligenciaartificialtp|Aguilar Agustin, Bianco Mauro, Sosa Emiliano
grupo-12|git|code|bitbucket|matiasgueli/guelimorlacchilazzaroni|Gueli, Lazzaroni, Morlacchi
grupo-13|git|code|github|ivangalindez/inteligencia|Galindez, Canavese
grupo-14|git|code|bitbucket|alejandrobarsotti/ia-barsotti-sclerandi|Barsotti Alejandro, Sclerandi Wendy
